<% var title = "TTJ_LP_F"; var description = "TTJ_LP_Fのdescription"; %> <% include
src/ejs/template/_head %>
<% var registration = "p-top-registration"; %>

<div class="<%= registration %>">
  <div class="<%= registration %>__message">
    <p class="<%= registration %>__message--thanks">本登録<br class="u-hidden-pc">ありがとうございます!</p>
    <p class="<%= registration %>__message--wait">2,3日営業日以内に<br class="u-display-smSp">担当者からご連絡いたします</p>
  </div>
  <div class="<%= registration %>__company">
    <p class="<%= registration %>__company--name">株式会社トラストコーポレーション</p>
    <p class="<%= registration %>__company--address">〒550-0014<br>大阪府大阪市西区北堀江１丁目１７−１１ <br class="u-hidden-pc">リバーライズ北堀江2F</p>
    <p class="<%= registration %>__company--tell">TEL： 06-7777-2097</p>
  </div>
  <img class="<%= registration %>__img--ttj" src="/assets/images/logo_ttj.png" alt="">
</div>